<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
